body {
    margin: 0px;
    display: flex;
    flex-direction: row;
}

#left-pane {
    border-right: 1px solid black;
}

#right-pane {
    flex-grow: 1;
}

.outline {
    display: flex;
    flex-direction: column;
}

.bracket-view-canvas-container {
    width: 100%;
    height: 500px;
    background-color: lightgray;
    user-select: none; /* Prevent weird selections when dragging fixtures */
    overflow: hidden;
}

.bracket-view-canvas {
    width: 100%;
    height: 100%;
}